/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header__title {
  font-size: 16px;
  font-family: fantasy, cursive;
  font-weight: normal;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__details {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header {
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.input,
.todo__label,
.done__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.form__task-row {
  display: flex;
} 
.todo__list,
 .done__list {
  margin: 0;
  padding: 0px;
}
.todo__list-line, 
.done__list-line, 
.done__title, 
.todo__title {
  list-style: none;
}
.check,
.input,
.btn {
  outline: none;
}
.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.btn:hover {
  color: #3a3A3a;
}
/* Heading */
.done__title,
.todo__title,
.form__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.todo__input,
.done__input,
.form__task-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.input:focus {
  color: #333;
}

/* New Task */
.form__task-input {
  display: block;
  margin: 0 0 20px;
}
#form__input {
  width: 318px;
}

/* Task list */
.todo__list-line,
.done__list-line {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.done__list-line > *,
.todo__list-line > * {
  vertical-align: middle;
}

.check {
  margin: 0 10px;
}
.done__label,
.todo__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.done__input,
.todo__input {
  width: 226px
}
.done__img,
.todo__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.done__img:hover,
.todo__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.done__img {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.done__input,
.todo__input {
  display: none
}

.todo__list-line_active [type="text"] {
  display: inline-block;
  width: 224px
}

.todo__list-line_active label {
  display: none;
}